@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Database access has already been done on April 14, 2023 by Juan Marmolejo</a>.</p>
</div>
